body {
    background-color: green;
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: chocolate;
}

.timer {
    width: 200px;
    ;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px chocolate;
    align-items: center;
    display: flex;
    background-color: black;
    color: chocolate;
}

.button_start {
    background: green;
    border-radius: 50%;
    padding: 20px
}

.button_stop {
    background: red;
    border-radius: 50%;
    padding: 20px
}

.button_reset {
    background: white;
    border-radius: 50%;
    padding: 20px
}